* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.botao, #cadastro-enviar, .logout input, .perfil-info a, #edit-back, #submit, .post-op a, .container .card .content a {
  color: white;
  background-color: #C97800;
  border: 1px solid #C97800;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.botao:hover, #cadastro-enviar:hover, .logout input:hover, .perfil-info a:hover, #edit-back:hover, #submit:hover, .post-op a:hover, .container .card .content a:hover {
  background-color: white;
  color: #C97800;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C97800;
}

.nav__ponta {
  cursor: pointer;
  padding: 0px 1.16%;
}

.nav__links li {
  margin: 0px 15px;
  display: inline-block;
  list-style: none;
}

.nav__links ul {
  text-align: center;
}

.navbar a img {
  transition: all 0.3s ease 0s;
}

.navbar a img:hover {
  background-color: rgba(0, 0, 0, 0.434);
  border: none;
  border-radius: 35px;
  transform: scale(1.3);
  opacity: 0.7;
  transition: all 0.2s ease 0s;
}

#logo img {
  border: transparent;
  border-radius: 80px;
}

.search-bar {
  display: flex;
  background: white;
  align-items: center;
  border-radius: 60px;
  padding: 0.6% 0.8%;
}

.search-bar input {
  flex: 1;
  border: 0;
  outline: 0;
  color: rgb(56, 56, 56);
}

.search-bar button img {
  width: 45%;
  height: 45%;
  filter: invert(100%);
}

.search-bar button {
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.search-bar button:hover {
  transform: scale(1.5);
}

.container {
  width: 100%;
  align-items: center;
  padding: 2% 0px;
  display: flex;
  justify-content: center;
}

.container .card {
  width: 75%;
  padding: 1.3%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  text-align: left;
  box-shadow: 1px 1px 4px #C97800;
  transition: all 0.5s ease 0s;
}

.container .card h1 {
  color: #C97800;
  font-size: 1.6rem;
  transition: all 0.5s ease 0s;
}

.container .card .content p {
  color: rgb(22, 21, 21);
  transition: all 0.5s ease 0s;
}

.container .card .content a {
  display: inline-block;
  padding: 8px 18px;
  margin-top: 20px;
}

.container .card:hover {
  background-color: rgb(247, 182, 83);
  transform: scale(1.12);
  box-shadow: 2px 2px 8px #C97800;
}

.card:hover h1, .card:hover .content p {
  color: white;
}

#card-button a:hover {
  color: #C97800;
  background-color: white;
  transform: scale(1.15);
}

.post-container {
  padding: 3% 10%;
}

.post-container h1 {
  color: #C97800;
  font-size: 2.5rem;
}

.post-container p {
  font-size: 1.2rem;
}

.post-container .post-extra-info p {
  text-align: end;
  font-size: 1rem;
}

.post-container .contato {
  padding: 7% 0px;
}

.post-container .contato h1 {
  font-size: 2rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #C97800;
          text-decoration-color: #C97800;
}

.post-container .contato {
  font-size: 0.5rem;
  text-decoration: underline;
}

.post-container .post-extra-info .post-op {
  padding: 5% 0px;
}

.post-op a {
  padding: 1% 2%;
  margin-right: 4%;
}

#editar {
  background-color: lightblue;
  border: 1px solid lightblue;
}

#editar:hover {
  background-color: white;
  color: lightblue;
  border: 1px solid;
  box-shadow: 1px 1px 3px;
}

#deletar {
  background-color: red;
  color: white;
  cursor: pointer;
}

#deletar:hover {
  background-color: white;
  color: red;
  border: 1px solid;
  box-shadow: 1px 1px 3px;
}

.edit-container {
  padding: 2.3% 6%;
}

.edit-container label {
  font-size: 1.6rem;
}

.edit-container input::-moz-placeholder, .edit-container textarea::-moz-placeholder {
  color: rgb(143, 143, 143);
}

.edit-container input:-ms-input-placeholder, .edit-container textarea:-ms-input-placeholder {
  color: rgb(143, 143, 143);
}

.edit-container input::placeholder, .edit-container textarea::placeholder {
  color: rgb(143, 143, 143);
}

.edit-container input, .edit-container textarea {
  box-shadow: 1.5px 1.5px 4px #C97800;
}

.submit-container {
  margin-top: 5%;
  text-align: end;
}

#submit {
  font-size: 1.2rem;
  padding: 0.28% 0.6%;
  box-shadow: 1px 1px 3px;
}

#submit:hover {
  transform: scale(1.25);
  background-color: rgb(247, 182, 83);
  border: 1px solid rgb(247, 182, 83);
}

.edit-confirm {
  text-align: center;
}

.edit-confirm #edit-back-container {
  padding: 1.5% 0px;
}

#edit-back {
  text-decoration: none;
  padding: 0.3% 0.6%;
}

.perfil-container {
  text-align: left;
  padding: 0px 5%;
}

.perfil-container h1 {
  color: #C97800;
  font-size: 3rem;
}

.perfil-container p {
  font-size: 1.8rem;
}

.perfil-info {
  padding: 5% 0px;
}

.perfil-info h1 {
  font-size: 2rem;
}

.perfil-info p {
  font-size: 1.5rem;
  padding: 0px 1%;
}

.perfil-info a {
  font-size: 1.5rem;
  padding: 0.3% 1%;
}

.logout {
  text-align: end;
}

.logout input {
  font-size: 1.2rem;
  padding: 0.5% 1.2%;
  background-color: rgb(173, 26, 26);
  border: 1px solid rgb(173, 26, 26);
}

.logout input:hover {
  color: rgb(173, 26, 26);
  box-shadow: 1px 1px 2px rgb(173, 26, 26);
}

.hist-title {
  text-align: left;
  padding: 0px 4%;
}

#search {
  text-align: left;
}

.cadastro {
  text-align: left;
  padding: 0px 6%;
}

.cadastro label {
  display: none;
}

.cadastro input, .cadastro textarea {
  box-shadow: 2px 2px 4px #C97800;
}

.cadastro input::-moz-placeholder, .cadastro textarea::-moz-placeholder {
  font-size: 1.1rem;
}

.cadastro input:-ms-input-placeholder, .cadastro textarea:-ms-input-placeholder {
  font-size: 1.1rem;
}

.cadastro input::placeholder, .cadastro textarea::placeholder {
  font-size: 1.1rem;
}

#cadastro-enviar-container {
  text-align: right;
}

#cadastro-enviar {
  font-size: 1.2rem;
  padding: 0.2% 0.8%;
}

#cadastro-enviar:hover {
  transform: scale(1.2);
}

.info {
  font-family: "Courier New", Courier, monospace;
  color: rgb(58, 58, 58);
  text-align: left;
}

.corpo {
  padding: 1.5%;
  text-align: center;
}

.cadastro_info {
  color: white;
  background-color: rgb(247, 182, 83);
  padding: 0.2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 0.1%;
  border-style: solid;
  border-color: rgb(74, 73, 73);
  border-radius: 30px;
  box-shadow: 3px 4px 5px rgb(58, 58, 58);
}

.aviso {
  font-family: "Times New Roman", Times, serif;
  color: rgb(222, 26, 26);
  padding-left: 2%;
  padding-top: 2%;
}

#barra_topo {
  background-color: #C97800;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;
}

#tipo {
  margin: 0.7%;
}

#tags {
  padding-top: 2%;
  padding-bottom: 2%;
}

#login_nome_usuario, #login_senha, #login_enviar {
  margin: 1.3%;
  margin-left: 15%;
  margin-right: 15%;
}

#registro_user, #registro_prim, #registro_ulti, #registro_email, #registro_senha, #registro_conf_senha, #registro_enviar {
  margin: 1.3%;
  margin-left: 15%;
  margin-right: 15%;
}

#card-button {
  width: 100%;
  text-align: end;
}

#post-descricao {
  min-height: 11.6rem;
}

#post-descricao p {
  max-width: 100%;
  max-height: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

#post-titulo {
  max-width: 100%;
  max-height: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.sobre-corpo {
  width: 100%;
  height: 100%;
  background-color: #C97800;
  text-align: start;
  padding: 3%;
}

.sobre {
  margin: 2.5%;
  padding: 5%;
}

.sobre h1 {
  color: white;
}

.sobre hr {
  border-top: 5px solid white;
  border-radius: 5px;
}

.sobre p {
  color: white;
}

.sobre a {
  padding: 10px;
}

@media (max-width: 675px) {
  #logo {
    display: none;
  }
  .search-bar input {
    width: 80px;
    height: 16px;
  }
}/*# sourceMappingURL=styles.css.map */