{% extends 'sharin/layout.html' %}
{% load i18n %}

{% block body %}
    <div class="corpo">
        <h2>Confirmação de troca de senha</h2><hr>
        <p>Por favor digite a sua nova senha</p>
        {% language 'pt-BR' %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Trocar senha">
        </form>
        {% for message in messages %}
            <h1 class="aviso">{{ message }}</h1>
        {% endfor %}
        {% endlanguage %}
    </div>
{% endblock %}