{% autoescape off %}
Hello {{ user.username }},

Nos recebemos uma solicitação para trocar a senha para a sua conta associada a esse email. Para redefinir a senha clique no link abaixo.

{{ protocol }}://{{ domain }}{% url 'sharin:password_reset_confirm' uidb64=uid token=token %}

Este link só pode ser usado uma vez. Se você precisar trocar a senha novamente por favor visite: {{ protocol }}://{{domain}} e solicite outra troca de senha.

Se caso não foi você que fez essa solicitação, por favor apenas ignore esse email.

Atenciosamente,
Sharin'Hub

{% endautoescape %}