{% extends 'sharin/layout.html' %}

{% block body %}
    <div class="corpo">
        <div class="info">
            <h1>Perfil</h1>
        </div>

        <div class="perfil-container">
            <h1>{{request.user.username}}</h1>
            <p>{{request.user.first_name}} {{request.user.last_name}}</p>
            <div class="perfil-info">
                <h1>Informações:</h1>
                <p>Email: {{request.user.email}}</p>
                <a class="botao" href="{% url 'sharin:historico-usuario'%}">Histórico de publicações</a>
            </div>
        </div>

    </div>


{% endblock %}