{% extends "sharin/layout.html" %}

{% block body %}
    <div class="edit-container">
        {% for message in messages %}
            <h1>{{ message }}</h1>

        {% endfor %}
        {% if atualizado %}
            <div class="edit-confirm">
                <h1>Atualizado com sucesso!</h1>
                <div id="edit-back-container">
                    <a id="edit-back" href="{% url 'sharin:index' %}">Voltar para página inicial</a>
                </div>
            </div>
        {% endif %}
            
        {% if user == criador %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="submit-container">
                    <input id="submit" type="submit" value="Atualizar">
                </div>
            </form>
            
        {% else %}
            Você não tem permissão pra editar essa publicacão.
        {% endif %}
        
    </div>

{% endblock %}